.github/
.husky/
.nx/
.vscode/
architecture/
**/assets/
**/coverage/
docker/
docs/
**/node_modules/
.editorconfig
.env.example
.gitignore
.npmrc
.prettierignore
.prettierrc
*.md
LICENSE
**/*.json
**/*.yaml
vitest.config.mts
vitest.workspace.ts
